{% extends "layout.html" %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Transaction List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Transactions</h1>
        <table>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            {% for t in transactions %}
            <tr>
                <td>{{ t[0] }}</td>
                <td>{{ t[1] }}</td>
                <td>{{ t[2] }}</td>
                <td>{{ t[3] }}</td>
                <td><a href="{{ url_for('delete_transaction', id=t[0]) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>

{% endblock %}